.single {
  section {
    height: 60vh;
    margin-bottom: 1rem;
    width: 100%;
  }
  .context-wrapper {
    background-color: rgba($accent-3, .9);
    color: $white;
    float: right;
    height: 60vh;
    padding: 1rem;
    width: 25%;
    &:before {
      @include triangleLeft(1.8rem, 1.2rem, -1.7rem, rgba($accent-3, .9));
    }
  }
}
